fromname='John Doe'
fromaddress='Some Street\\666 Helltown'
fromphone='+1 555 1337'
fromemail='test@example.org'
signature=$fromname
place='Helltown'
date='\today'
firstfoot=''
receiver=''
subject=''
opening='To whom it may concern,'
closing='Best Regards'
targetfile="letter_$(date +%Y-%m-%d).tex"
yourref=''
yourmail=''
memberident=''

